<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309151862860-k0q58n2cq7re319dnbp8fvdenhqud3ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309151862860-k0q58n2cq7re319dnbp8fvdenhqud3ke</string>
	<key>API_KEY</key>
	<string>AIzaSyCvAMAwD7SiRV1iDtKPIF5gnu2UW6GZzSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>309151862860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wolox</string>
	<key>PROJECT_ID</key>
	<string>wolox-f683d</string>
	<key>STORAGE_BUCKET</key>
	<string>wolox-f683d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309151862860:ios:bfc1348dcd82654c07a4e9</string>
</dict>
</plist>